@import 'antd/dist/antd.css';

.designer-profile body {
  margin: 0;
  padding: 0px !important;
}

.dark .dropdown-btn {
  background: #313338;
  border: none !important;
  color: white;
}

.dark .dropdown-btn:hover {
  background: #313338;
  border: none !important;
}

.dark+.ant-dropdown-menu {
  background-color: #313338 !important;
}

.each-card-it .black-back-noradius.ant-btn {
  background-color: #313338;
  border: 2px solid rgb(32, 34, 37) !important;
  border-right: none !important;
}

.fav-icon-black {
  background-color: #313338 !important;
  border: 2px solid rgb(32, 34, 37) !important;
  border-left: none !important;
}

.dark .each-card-it {
  border: none !important;
  background-color: #313338;
}

.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%230c63e4%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
}

.dark .accordion-item {
  border: none !important;
}

.dark .accordion-header {
  border: none !important;
}

.dark .table {
  border: none;
}

.slick-prev,
.slick-next {
  background: #FFFFFF !important;
  opacity: 0.8 !important;
  border: 1px solid #757575 !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  z-index: 1000 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: black !important;
  padding-top: 3px !important;
}

.dark .slick-prev,
.dark .slick-next {
  background: #212121 !important;
  opacity: 0.8 !important;
  border: 1px solid #757575 !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  z-index: 1000 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding-top: 0px !important;
  padding-left: 23px !important;
}

.slick-prev::before,
.slick-next::before {
  line-height: auto !important;
  color: black !important;
  content: "⌵" !important;
  transform: rotate(90deg);
  font-size: 28px !important;
  margin-left: 14px !important;
}

.slick-next::before {
  line-height: auto !important;
  color: black !important;
  content: "⌵" !important;
  transform: rotate(270deg);
  font-size: 28px !important;
  margin-left: -14px !important;
}

.dark .slick-prev::before {
  line-height: auto !important;
  color: white !important;
  content: "⌵" !important;
  transform: rotate(90deg);
  font-size: 28px !important;
  margin-left: -8px !important;
}

.dark .slick-next::before {
  line-height: auto !important;
  color: white !important;
  content: "⌵" !important;
  transform: rotate(270deg);
  font-size: 28px !important;
  margin-left: -36px !important;
}


/*************************************** Home *****************************************/
.main-component {
  width: 100%;
  height: 660px;
  background-image: url('../images/bg2.png'), url('../images/bg1.png');
  background-position: left, right;
  padding-left: 8%;
  background-repeat: no-repeat, no-repeat;
  padding-top: 60px;
  overflow: hidden !important;
}

.main-component2 {
  width: 100%;
  height: 670px;
  background-image: url('../images/bg1.png');
  background-position: right;
  padding-left: 8%;
  background-repeat: no-repeat;
}

.main-component3 {
  width: 100%;
  height: 670px;
  background-image: url('../images/bg1.png');
  background-position: right;
  padding-left: 8%;
  background-repeat: no-repeat;
}

.title {
  width: 500px;
  font-weight: 700;
  font-size: 45px;
  height: 120px;
  margin-bottom: 53px;
}

.desc {
  font-weight: 200;
  font-size: 24px;
  width: 400px;
  height: 72px;
  line-height: 29px;
  margin-bottom: 53px;
}

.button {
  margin-bottom: 60px;
}


@media (min-width:0px) and (max-width:500px) {
  .main-component {
    padding-left: 10px
  }

  .title {
    height: fit-content;
    width: 100%;
  }

  .desc {
    width: 100%;
  }
}









/************************* Each Item ****************************/


.each-card-it {
  border: 0.61px solid #BDBDBD;
  border-radius: 4.8px;
  width: 100%;
  margin-bottom: 40px;
  margin-right: 25px;
}

.collection-img-it {
  width: 100% !important;
  height: 150px !important;
  border-top-left-radius: 4.8px;
  border-top-right-radius: 4.8px;
  object-fit: cover;
}


.collec-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
}

.left-no {
  font-size: 12px;
  font-weight: 200;
}


/* .each-box{
    margin-right: 30px;
    height: 301px;
    width: 33%;
}

 */

.each-card {
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 40px;
  margin-right: 33px;
}

.each-card:nth-child(3) {
  margin-right: 0px;
}

.collection-all .slick-slide {
  padding: 0 5px;
}

.collection-img {
  width: 100% !important;
  height: 201px !important;
  object-fit: cover !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.brand-img {
  height: 44px;
  width: 44px;
  border-radius: 100px;
  margin-right: 10px;
}


.collec-title {
  font-weight: 700;
  font-size: 20px;
}




.brand-img-fd {
  height: 32px !important;
  width: 32px !important;
  border-radius: 100px;
}

.collec-title-fd {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.each-list {
  border-bottom: 1px solid #e0e0e0;
  padding-top: 5px;
}

.component {
  display: grid;
  grid-template-columns: 5% 30% 40% 25%;
  position: relative;
  padding-bottom: 10px;
}

.profile-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
  margin: 0 10px;
}

.right1-2 {
  position: absolute;
  right: 0;
  height: 10px;
}

.right2-2 {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #757575;
}

.fonts-13 {
  font-size: 13px;
}


@media (min-width:0px) and (max-width:1000px) {
  .profile-img {
    margin: 0 3px;
  }
}


.banner {
  background-image: url('../images/bg3.png');
  display: flex;
  height: 179px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  flex-wrap: wrap;
}

.banner-left {
  font-weight: 700;
  font-size: 26px;
  color: white;
  margin-left: 96px;
  margin-top: 29px;
  height: 80px;
  line-height: 43.4px;
}

.banner-right {
  position: absolute;
  right: 96px;
  margin-top: 45px;
}

@media (min-width:0px) and (max-width:900px) {
  .banner {
    display: block;
    height: fit-content;
    padding-bottom: 20px;
  }

  .banner-left {
    margin: 20px 20px 20px 50px;
    height: fit-content;
  }

  .banner-right {
    position: static;
    margin: 20px 20px 20px 30px;
  }
}



/*********** FD Collections ************/
.collection-fd {
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}

.ant-btn.button-collec {
  line-height: 10px;
  margin: 5px 0;
  font-size: 10px;
  height: 20px;
}


/*********** FD Collection Details **************/
.upper-comp {
  display: grid;
  position: relative;
}

.upper-right {
  position: absolute;
  right: 0;
  margin-top: 20px;
}


.lower-comp {
  /* background-color: red; */
  display: flex;
  position: relative;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.lower-first,
.lower-second {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.lower-first.ant-btn {
  margin-top: 20px;
}

.lower-first {
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.lower-second {
  margin-top: 20p;
}

.ant-btn._0marginbtn {
  margin: 0px;
  width: 95%;
}

.lower-first .ant-btn._0marginbtn {
  margin: 0px 4px;
  width: auto !important;
}

.dropdown-btn {
  border: 1px solid #E0E0E0 !important;
  border-radius: 2px !important;
}

.lower-second {
  position: absolute;
  right: 0
}

.lower-each {
  margin-right: 12px;
}

.click-icon {
  border: 0.5px solid #E0E0E0;
  padding: 2px 6px;
}

.fav-icon {
  border: 0.5px solid #E0E0E0;
  padding: 2px 6%;
  width: 30%;
}

.grey-back-noradius {
  width: 70%;
}

.desc-collec {
  padding: 5px;
}

.desc-collec .right0 svg {
  transform: rotate(90deg);
}

.lower-first-row {
  font-weight: 700;
  font-size: 20px;
}

.black-back-noradius.ant-btn {
  background-color: black;
  border-radius: 0px;
  border: 0.5px solid #757575;
  color: white;
}

.black-back-noradius {
  width: 70%;
}

.fav-icon-black {
  border: 0.5px solid #757575;
  background-color: black;
  padding: 2px 6%;
  width: 30%;
}

@media (min-width:0px) and (max-width:500px) {
  .lower-second .click-icon {
    display: none;
  }

}

@media (min-width:0px) and (max-width:1000px) {


  .upper-comp {
    display: block;
  }

  .upper-right {
    position: static;
    margin: 20px 0;
  }

  /* //.upper */
}

@media (min-width:0px) and (max-width:1200px) {
  .lower-comp {
    display: block;
    height: fit-content;
  }

  .lower-first {
    margin-bottom: 5px;
  }

  .lower-second {
    position: static;
  }


}



/************************* Each Item **************************/
.props-box {
  text-align: center;
  background-color: white;
  border: 0.6px solid #BDBDBD;
  margin-right: 22px;
  margin-bottom: 10px;
  padding: 18px 22px;
  border-radius: 5px;
}

.dark .props-box {
  background: #07111C;
  border-radius: 5px;
  border: none;
}

.dark .props-box .black-color-text {
  color: white;
}

.img-big {
  height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 0.5px solid #BDBDBD
}

.gridrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.gridrow2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
}

.gridgreyborderbox {
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 4px;
  row-gap: 4px;
}

.gridbox {
  position: relative;
}

/* style={{display:"grid", gridTemplateColumns:"40% 40%", columnGap:"4px", rowGap:"4px"}} */

@media (min-width:0px) and (max-width:850px) {
  .upper-grid {
    display: block;
  }

  .gridrow2 {
    display: block;
    margin-bottom: 5px;
  }

  .gridgreyborderbox {
    display: block;
    margin-bottom: 10px;
  }
}






body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.collection-all {
  margin: 40px 16% 0 16%;
  width: 68%;

}

.collection-three {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr !important;
  display: grid !important;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  overflow-x: scroll !important;
}

.collection-five {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid !important;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  overflow-x: scroll !important;
}

.collection-seven {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid !important;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  overflow-x: scroll !important;
}

.collection-seven::-webkit-scrollbar,
.collection-five::-webkit-scrollbar,
.collection-three::-webkit-scrollbar {
  display: none;
}

.collection-seven,
.collection-five,
.collection-three {
  display: none;
}

.collection-all {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.title-collection {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.grey-text {
  color: #bbb7b7;
}

.grey-dark {
  color: #757575;
}

.color-blue {
  color: #4f52ef;
}

.fontw-700 {
  font-weight: 700 !important;
}

.accordion-button {
  font-weight: 700;
  transition: none !important;
  height: 40px !important;
  padding: 5px 3px;
}

.accordion-button {
  background-color: transparent !important;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  /* color: inherit !important; */
  transition: none !important;
  box-shadow: none !important;
  background-color: white;
}

.accordion-button:focus::after,
.accordion-button:not(.collapsed)::after {
  color: black !important;
}



.accordion-button::after {
  font-size: 10px !important;
  /* color: inherit !important; */
}

/* .accordion-button:not(.collapsed)::after{
  
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27var%28--bs-body-color%29%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
} */

.accordion-button:active {
  color: black !important;
}

.accordion {
  margin-top: 23px;
  border-radius: 5px !important;
}

.accordion-header {
  padding: 10px !important;
}

.dark .accordion-header {
  background: #07111C !important;
  border-bottom: 0.5px solid #212121;
}

.accordion-body {
  padding: 23px !important;
}

.dark .accordion-body {
  background-color: #313338 !important;
  color: white;
}

.table .black-color-text {
  color: black !important;
  font-weight: 500 !important;
}

.offers .table tbody td {
  padding: 19px !important;
}

.dark .table .black-color-text {
  color: white !important;
}

.dark .moreCollections .accordion-body {
  background-color: #07111C !important;
}


.offers .accordion-body {
  padding: 0px !important;
}

.dark .offers .accordion-body .table thead tr {
  background-color: #07111C !important;
}

.color-white {
  color: white;
}

.main-comp {
  margin-top: 50px;
}

.ant-btn {
  width: fit-content;
  padding-top: 3px;
  padding-bottom: 3px;
}

.ant-btn.blue-text-btn {
  border: none;
  background-color: white;
  color: #4f52ef;
}

.ant-btn.blue-border-2 {
  border: 2px solid #4f52ef;
  background-color: white;
  color: #4f52ef;
}

.ant-btn.blue-border-half {
  border: 0.5px solid #4f52ef;
  background-color: white;
  color: #4f52ef;
}

.ant-btn.paddingless {
  padding: 3px 8px;
}

.ant-btn.height48 {
  height: 48px;
}

.ant-btn.largepad {
  padding: 10px 28px;
}

.ant-btn._17hor {
  padding: 3px 17px;
}

.ant-btn._5hor {
  padding: 3px 5px;
}

.ant-btn._30hor {
  padding: 0px 30px;
}

.ant-btn {
  margin-left: 20px;
  border-radius: 100px;
}


.ant-btn.blue-border {
  border: 1px solid #4f52ef !important;
  color: #4f52ef !important;
  background-color: white !important;
}

.ant-btn.blue-back {
  background-color: #4f52ef !important;
  border: none !important;
  color: white !important;
}

.ant-btn.black-back {
  background-color: #03014c !important;
  border: none !important;
  color: white !important;
}

.black-color-text {
  color: #03014c
}

.App.dark .ant-btn.blue-border {
  background-color: #4F52EF !important;
  color: white !important;
}

/* .ant-btn{
  border: 1px solid grey !important;
  color: grey !important;
  background-color: white !important;
} */

.cbtn-text {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.ant-btn.grey-back {
  background-color: #fafafa !important;
  border: none !important;
}

.ant-btn.grey-back-noradius {
  background-color: #fafafa !important;
  border: none !important;
  border-radius: 0px;
}

.ant-btn._9marginbtn {
  margin-left: 9px;
}


.center-button {
  padding-left: 40%;
  padding-top: 20px;
}

.tab-content {
  overflow-x: hidden;
}

/* .center-button.ant-btn{
    position: absolute;
    left: 55%;
    top: 50px;
} */

.active-icon {
  background-color: #e2dfdf !important;
  border: none !important;
  color: #03014c
}

.not-active {
  color: #e2dfdf
}

.black-blank {
  height: 304px;
  background-color: #07111C;
  /* position: relative; */
}

.black-blank .designer-profile-container {
  position: absolute !important;
  top: 280px !important;
  left: 15% !important;
}

.black-blank .designer-profile {
  border-radius: 100px !important;
  border: 6px solid white !important;
}

.padding12 {
  padding: 12px;
}

.ant-btn.paddingright60 {
  padding: 0 60px !important;
}

.dark .ant-btn.paddingright60 {
  color: #4F52EF !important;
  border-color: #4F52EF !important;
  background-color: transparent !important;
}

.marginright {
  margin-right: 21px;
}

.marginright20 {
  margin-right: 20px;
}

.marginbottom10 {
  margin-bottom: 10px;
}

.marginright16 {
  margin-right: 16px;
}

.marginright32 {
  margin-right: 32px;
}

.right0 {
  position: absolute;
  right: 0;
}

.header-box {
  border: 1px solid #e2dfdf;
  border-radius: 3px;
  margin-top: 10px;
  position: relative;
}

.ant-btn.black-back-btn {
  background-color: #202225 !important;
  border: 2px #4f52ef solid;
  color: #4f52ef;
}

.header-box-black {
  background-color: #313338 !important;
}

.header-head-black {
  background-color: #07111C !important;
}

.grey-border-box {
  border: 0.5px solid #bdbdbd;
  border-radius: 5px;
}

.dark .grey-border-box {
  background: #313338;
  border: none !important;
  border-bottom: 0.5px solid #BDBDBD;
}

.header-comp {
  height: 40px;
  border-bottom: 1px solid #e2dfdf;
  position: relative;
  padding: 10px;
  display: flex;
}

.header-comp-exception {
  height: 40px;
  border: 1px solid #e2dfdf;
  position: relative;
  padding: 10px;
  display: flex;
}

.body-comp {
  background-color: #f5f5f5;
  padding: 20px 15px;
  height: fit-content;
  overflow-x: hidden;
}

.body-comp2 {
  padding: 15px;
}

.table {
  border-bottom: 1px solid #e2dfdf;
  border-left: 1px solid #e2dfdf;
  border-right: 1px solid #e2dfdf;
}

.body-comp-exception {
  padding: 0px;
}

.brand-img-fd {
  height: 20px !important;
  width: 20px !important;
  border-radius: 50px;
  margin-right: 10px;
}

.borderbottom {
  border-bottom: 1px solid #e2dfdf;
}

.gridbox {
  display: grid;
  padding: 10px;
}


.padding10 {
  padding: 10px;
}

.rightpadding {
  padding-right: 10px;
}

.all-desc {
  padding: 10px;
}

.collec-number {
  padding: 15px 0;
  position: relative;
  display: flex;
  width: 100%;
}

.right1 {
  position: absolute;
  right: 0;
  height: 10px;
}

.right2 {
  position: absolute;
  right: 0;
  top: 35px;
}

.nav-link {
  color: #757575;
  font-size: 20px;
  font-weight: 700;
}

.nav-link:focus {
  border: 0px !important;
  color: #757575;
}

.nav-tabs {
  border-bottom: 0px !important;
}

.nav-link.white {
  color: white;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent !important;
}

.nav-link.active {
  color: #4f52ef !important;
  border: 0px;
  border-bottom: 2px solid #4f52ef !important;
  background-color: none !important;
  padding-bottom: 2px !important;
}

.nav-link.active-white {
  color: white !important;
  border: 0px;
  border-bottom: 1px solid white !important;
  background-color: black !important;
  padding-bottom: 2px !important;
}

.brand-name {
  font-size: 14px;
  font-weight: 200;
}

.fonts-14 {
  font-size: 14px;
}

.fonts-12 {
  font-size: 12px;
}

.fonts-16 {
  font-size: 16px !important;
}

.fonts-19-6 {
  font-size: 19.6px;
}

.fonts-20 {
  font-size: 20px;
}

.fonts-30 {
  font-size: 30px;
}

.fonts-32-8 {
  font-size: 32.8px;
}

.fonts-44 {
  font-size: 44px;
}

.fontw-200 {
  font-weight: 200;
}

.fontw-100 {
  font-weight: 100;
}

.fontw-500 {
  font-weight: 500;
}

._40-title {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
}

.paddingtop10 {
  padding-top: 10px;
}

.margintop10 {
  margin-top: 10px;
}

.margintop20 {
  margin-top: 20px;
}

@media (min-width:0px) and (max-width:1150px) {
  .collection-five {
    grid-template-columns: 150px 150px 150px 150px 150px;
  }

  .collection-three {
    grid-template-columns: 300px 300px 300px !important;
  }

}

@media (min-width:0px) and (max-width:600px) {

  .collection-all {
    margin: 40px 5% 0 5%;
    width: 90%;

  }

  .collection-three {
    display: block !important;
  }

  .center-button {
    padding-left: 20%;
  }

  .center-button.home-center {
    padding-left: 0%;
  }

}


@media (min-width:0px) and (max-width:1250px) {


  .collection-seven {
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  }
}

.dark .accordion-button {
  background-image: var(--bs-accordion-btn-active-icon) !important;
  color: white !important;
}


.footer-upper {
  background-image: url('../images/bg5.png');
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 179px;
  margin-top: 150px;
}

.footer-right {
  position: absolute;
  right: 200px;
  top: 100px;
}

.footer-left {
  position: absolute;
  left: 150px;
  top: 50px;
}

.footer-lower {
  background-color: #000;
  color: white;
  padding: 50px 100px 30px 100px;
}

.footer-lower .Logo {
  /* width: 60px !important; */
  height: 20px !important;
}

.lower-1 {
  display: grid;
  grid-template-columns: 20% 18% 18% 18% 20%;
  column-gap: 5px;
}

.point-wise {
  padding-top: 10px;
  font-size: 17.7px;
  font-weight: 400;
  line-height: 16.68px;
}

.topic {
  padding-bottom: 10px;
}

.lower-second-comp {
  padding-top: 50px;
}

.lower-2 {
  position: relative;
  display: grid;

}

.second-row {
  position: absolute;
  right: 0;
}

.underline-text {
  text-decoration: underline;
}

@media (min-width:700px) and (max-width:900px) {
  .footer-upper {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 50px;
    column-gap: 20px;
    padding: 80px;
  }

  .footer-right {
    position: static;
  }

  .footer-left {
    position: static;
  }

}

@media (min-width:0px) and (max-width:400px) {
  .lower-1 {
    display: block;
  }

  .flex50 {
    padding-bottom: 40px;
  }
}

@media (min-width:0px) and (max-width:700px) {
  .footer-upper {
    display: block;
    height: fit-content;
  }

  .footer-left {
    padding: 15px 120px;
    position: static;
  }

  .footer-right {
    position: static;
    padding: 20px 100px;
  }

  .lower-2 {
    position: static;
    flex-wrap: wrap;
  }

  .second-row {
    position: static;
  }
}






/*************************************** Navbar *****************************************/
.navbar {
  padding: 0px;
  height: 80px;
  overflow: hidden;
}

.navbar img {
  filter: grayscale(100%);
}


.ant-input-affix-wrapper {
  border-radius: 100px;
  background-color: #f5f5f5;
  border: none;
  margin-right: 20px;
  width: 30%;
  height: 40px;
}

.anticon {
  color: #757575;
}

.ant-input {
  background-color: #f5f5f5;
  color: #757575;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
}

.detail.ant-input {
  font-weight: 700;
}

.navlink {
  font-weight: 700;
  font-size: 16px;
  /* width: 56px; */
  /* height: 19px; */
  color: black;
  padding: 22px 20px;
  cursor: pointer;
}

.white-text {
  color: white !important;
}

#basic-navbar-nav .ant-btn {
  background-color: #03041C;
  height: 48px;
  border: none;
}

@media (min-width:0px) and (max-width:1000px) {
  .navbar {
    height: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}


.dark .nav-logo svg {
  color: white !important;
  fill: white !important;
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
}

.navbar-light .navbar-toggler svg {
  font-size: 32px;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .navbar-light .ant-input-affix-wrapper {
    width: 100% !important;
    margin-bottom: 23px;
  }

  .footer-lower {
    padding: 10px;
  }

  .brand-img-fd {
    width: 47px !important;
    height: 47px !important;
  }

  .brand-desc .fonts-14 {
    font-size: 10px !important;
  }
}

.dark .navbar-toggler svg {
  color: white;
}

.home .slick-dots {
  /* position: absolute;
 top: 500px !important; */
  text-align: left !important;
  padding-bottom: 40px !important;
}

.slick-dots {
  padding-left: 60px !important;
  margin-bottom: 35px !important;
  padding-bottom: 4px !important;
}


.slick-dots li button::before {
  color: grey !important;
  font-size: 10px !important;
}

.slick-dots li.slick-active button::before {
  color: blue !important;
}

.dark .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
